:host{
    
    display: flex;
    background-color: black;
;   
    justify-content: start;
    padding: 10px ;
    height: 100%;
    box-sizing: border-box;
}

a{
    color: white;
    margin: 5px;
    text-transform: uppercase;
}

.active{
    color: red;
}