:host{
    
    display: flex;
    background-color: black;
;   
    justify-content: space-between;
    padding: 10px ;
    height: 100%;
    box-sizing: border-box;
}

a{
    color: white;
    text-transform: uppercase;
}